:root{
    --yelow: #f9d342;
    --gray: #868686;
    --blackisgray: #33333333;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.hero{
    background: url("img/city.png");
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.header{
    height: 6rem;
    display: flex;
    flex: 1;
    align-items: center;
    border-bottom: 1px solid var(--yelow);
    padding: 0 40px 0 40px;
}
.logo{
    width: 30%;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    color: var(--yelow) ;
}
.search-bar{
    width: 37%;
}
.box{
    width: 25rem;
    display: flex;
    align-items: center;
    background: var(--gray);
    height: 3rem;
    border-radius: 3rem;
}.search{
    background: none;
    outline: none;
    float: left;
    padding: 0;
    border: 0;
    border-radius: 3rem;
    color: var(--yelow);
    font-size: 18px;
    width: 20.9rem;
    padding-left: 20px;
}
.icon{
    border: none;
    background-color: var(--yelow);
    font-size: 18;
    float: right;
    color: var(--gray);
    cursor: pointer;
    border-radius: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;

}
.icon:hover{
    color: var(--blackisgray);
}
.menu{
   width: 33%;
   flex: 1;
   text-align: end;
 
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 0px;
    position: relative;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--yelow);
    padding-left: 20px;

}
.menu ul li a:hover{
    color: var(--gray);
}
.bars, .x{

    display: none;
}
.below-header{
    display: flex;
    padding: 0 40px 0 40px;
    align-items: center;

}
.text-box{
    margin-top: 250px;
    width: 50%;
    display: block;
    align-items: center;

}
.heading{
    font-size: 50px;
    font-weight: 600;
    color: var(--yelow);

}
.text{
    font-size: 27px;
    color: var(--gray);

}
.icons{
    margin-top: 230px;
    width: 50%;

}
.icons ul li {
 list-style: none;
 text-align: right;   
}
.iconslogo{
    color: var(--yelow);
    font-size: 35px;
    padding-top: 15px;
    text-align: center;

}
.iconslogo:hover{
    color: var(--gray);
    cursor: pointer;
}
@media(max-width:1060px){
    .search-bar{
        display: none;
        
    }
}
@media(max-width:800px){
    .menu ul li a{
        display: block;
        color: var(--gray);
    }
    .bars{
        flex: 1;
        text-align: right;
        color: var(--yelow);
    }
    .x{
        flex: 1;
        text-align: right;
        color: var(--gray);
    }
    .menu{
        position: fixed;
        background-color: var(--yelow);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .menu ul{
        padding: 30px;
    }
    .search-bar{
        display: none;
    }
    .below-header{
        flex: 1;
        display: block;
    }
    .text-box{
        width: 100%;
        margin-top: 40px;
        text-align: center;

    }
    .icons{
        width: 100%;
        margin-top: 280px;
        text-align: center;
    }
    .icons ul li{
        text-align: center;
        display: inline;
        padding-left: 20px;
    }
    .header .xbars {
       
        display: block;
        margin: 10px;
        cursor: pointer;
        font-size: 3em;
    }
    .header .bars{
        font-size: 4em;
        display: inline;
        padding-left: 5em;
    }
    .header .x{
        font-size: 200%;
    }
    }